@use "../../node_modules/bootstrap/scss/bootstrap.scss"  with (
  $primary: #000066,
  $secondary: #BF0D3D
);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mobile {
  display: none;
}
.desktop {
  display: block;
}

//TESTIMONIALS  
.owl-carousel .owl-item {
  opacity: 0.2;
  transition: opacity 0.1s ease, transform 0.5s ease-in-out;
  transform: scale(.9);
  box-shadow: 0 4px 10px none;
}
.owl-stage {
  padding-top: 8%;
}
.owl-carousel .owl-item.center {
  opacity: 1;
  transform: scale(1);
  border: 20px solid none;
  box-shadow: none;
}
.img-area {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -60px;
  left: 38%;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  overflow: visible;
}

//nav bar
.navbar {
  background-color: transparent;
  margin: 1rem auto;
  max-width: 100%;
  position: relative;
  transition: background-color 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  .nav-item {
    z-index: 10;
  }
  .nav-item.logo {
    width: 100px;
    cursor: pointer;
    opacity: 1 !important;
    position: relative;
    z-index: 1;
  }

  .nav-left,
  .nav-right {
    position: absolute;
    top: 0;
    height: fit-content;
    border-radius: 50px;
    transition: width 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    opacity: 0;
    width: 0%;
    z-index: 0;

    li.nav-link {
      transition: all 0.5s ease;
      transform: scale(0.1);
      opacity: 0;
    }
  }

  .nav-right {
    left: 50%;
    transform: none;
  }

  .nav-left {
    right: 50%;
    transform: none;
  }

  &:hover .nav-left,
  &:hover .nav-right {
    width: 40%;
    opacity: 1;

    li.nav-link {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.show-nav .nav-left,
  &.show-nav .nav-right {
    width: 40%;
    opacity: 1;

    li.nav-link {
      transform: scale(1);
      opacity: 1;
    }
  }
  .custom-toggler div {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
  }

  /* Animate to X */
  .navbar-toggler:not(.collapsed) .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar-toggler:not(.collapsed) .bar2 {
    opacity: 0;
  }

  .navbar-toggler:not(.collapsed) .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

//services
.service-body {
  opacity: 0;
  transform: scale(0.95);
  transform-origin: top left;
  max-height: 0;
  overflow: hidden;
  transition: 
  opacity 0.3s ease, 
  transform 0.3s ease, 
  max-height 0.3s ease;
} 
.service-head {
  text-align: center;
  transition: text-align 1s ease-in-out, transform 1s ease-in-out;
}
.service-card:hover .service-head {
  text-align: left;
}
.service-card:hover .service-body {
  opacity: 1;
  transform: scale(1);
  max-height: 300px;
}
.service-img {
  position: absolute;
  top: -120px;
  left: 5%;
  max-width: 500px;
}
.testimonial-img {
  position: absolute;
  top: -120px;
  right: 5%;
  max-width: 500px;
}
@media (max-width: 864px){
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .testimonial-img {
  width: 230px;
  top: -120px;
  right: 35%;
  }
  .testimonial-header {
  text-align: center;
  }
}
@media (max-width: 768px){
 .service-img {
  width: 230px;
  top: -120px;
  left: 35%;
 }
  .testimonial-img {
  top: -120px;
  right: 35%;
  }


}
@media (max-width: 630px){
 .service-img {
  top: -120px;
  left: 33%;
 }
  .testimonial-img {
  top: -120px;
  right: 33%;
 }
}
@media (max-width: 576px){
  .service-img {
    top: -120px;
    left: 25%;
  }
  .testimonial-img {
    top: -120px;
    right: 25%;
  }


}
 @media (max-width: 320px){
 .service-img {
  top: -120px;
  left: 18%;
 }
  .testimonial-img {
  top: -120px;
  right: 18%;
 }

}

.contact{
  background-color: #000066;
}

.contact_button{
  transition: 0.3s;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: thin;
}

.contact_button:hover {
    box-shadow: 5px 5px;
    transition: 0.3s;
    border-style: solid;
}

.icon-circle {
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: 0.5s;
}



.icon-img {
  width: 30px;
}

.contact_nav a, .contact_nav p{
  text-decoration: none;
  color: #000066;
}

.contact_nav a:hover, .contact_nav p:hover{
  text-decoration:underline;
}

// Drag and Drop
.upload-box {
    border: 2px dashed #aaa;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    color: #666;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  .upload-box.dragover {
    border-color: #007bff;
    background-color: #f0f8ff;
  }

  .upload-box input {
    display: none;
  }

/* Target screens between 576px and 785px */
@media (min-width: 576px) and (max-width: 785px) {
    .download_section {
      height: 75vh !important;
    }

    .ads{
      margin-top: 30% !important;
    }
}

/* Mobile override */
/* Mobile override */
@media (max-width: 570px) {
  .download_section {
    border-radius: 0 !important;
  }

  .download_3_mobile img {
    width: 45% !important;
    position: static !important;
  }

  .download_app img {
    width: 40% !important;
  }
}

@media (max-width: 438px) {
    .icon-circle {
   display: none;
  }

  .contact_nav a, .contact_nav p{
   font-size: 8px;
  }
}

/* Mobile: stack columns, reverse order */
@media (max-width: 768px) {
  .intro-row {
    display: flex;
    flex-direction: column-reverse; /* swaps order */
  }
}


footer{
  background-color: #000066;
}

.download_section {
  padding-bottom: 90px;
  border-radius: 0 0 50% 50% ;
  max-height: 100vh; 
  margin-bottom: 15% !important;
}


.swal-custom-popup {
    border: 5px solid #000066;
    border-radius: 30px;
}


.swal-modern-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}


.swal-modern-text {
    font-size: 1.5rem;
    color: #8f8f8f;  
}

.swal2-actions {
    display: flex ;
    flex-direction: column;
    width: 60% ;
    gap: 15px ;
    padding: 15px;
    box-sizing: border-box;
}

.swal-button-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border 0.3s;
}

.ok-btn {
    background-color: #000066;
    color: white;
    border: 3px solid #000066;
}


.cancel-btn {
    background-color: #ff0000;
    color: white;
    border: 3px solid #ff0000;
}

.ok-btn:hover {
    background-color: #ffffff;
    color: #000066;
    box-shadow: 5px 5px #000066;
    border: 3px solid #000066;
}

.cancel-btn:hover {
    background-color: #ffffff;
    color: #ff0000;
    box-shadow: 5px 5px #ff0000;
    border: 3px solid #ff0000;
}


